/* disable scrolling */
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#start,
#guide,
#chips-wrapper,
#contents,
#masthead-ad {
  display: none !important;
}

#center {
  position: absolute;
  top: 45vh;
  left: 15vw;
  width: 70vw !important;
  height: 10vh;
}

#end {
  position: absolute;
  top: 8px;
  right: 0px;
}
