/* --- hide_recommendations --- */
body #related,
body .html5-endscreen,
body .ytp-ce-video {
  display: none !important;
}

/* --- hide_thumbnails (+ video previews) --- */
body contents img {
  display: none !important;
}
body #preview,
body #hover-overlays {
  display: none !important;
}

/* --- hide_playlists --- */
body #playlist {
  display: none !important;
}

/* --- hide_sidebar --- */
body ytd-guide-section-renderer:nth-child(1),
body ytd-guide-section-renderer:nth-child(2),
body ytd-guide-section-renderer:nth-child(3),
body ytd-mini-guide-entry-renderer:nth-child(2),
body ytd-mini-guide-entry-renderer:nth-child(3),
body ytd-mini-guide-entry-renderer:nth-child(4),
body ytd-mini-guide-entry-renderer:nth-child(5) {
  display: none !important;
}

/* --- hide_comments --- */
body #comments,
body #chat {
  display: none !important;
}

/* --- hide_merch --- */
body #merch-shelf,
body ytd-merch-shelf-renderer {
  display: none !important;
}
